
    <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
    <suite name="Production Tests"  > 
    <!-- suite name="Suite Name" --> 
            <suite-files>
                   <suite-file path="./Regressionsuite.xml" />
                   <suite-file path="./smokesuite.xml" />
             </suite-files>
    </suite>